/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */



/*--header start here */

.logo-title {
    padding-left: 30px;
}

.voting_title {
    padding-bottom: 50px;
}

#title {
    color: #cd5c5c;
    font-size: x-large;
    font-weight: bold;
}
#logo{
    padding-left: 20px;
}
/*--header end here */

/*--main container start here-- */




.bodycontainer {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
}



#battle_lobbies {
    padding: 20px;
}

#start{
    font-size: x-large;
    color:indianred;
    padding: 20px;
}
.btn-start-battle{
    font-size: x-large;
    width: 140px;
    height: 140px;
    line-height: 140px;
    border-radius: 50%;
    display: inline-block;
    text-decoration: none;
    color:indianred;
    border:solid indianred;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    font-weight: bold;
    transition: .5s;
}
.btn-start-battle:hover{
    background-color: indianred;
    transform: rotateX(360deg);
    -ms-transform:rotateX(360deg);
    -webkit-transform:rotateX(360deg);
}
/*--main container end here-- */

.player_list {
    display: grid;
    column-gap: 5em;
    grid-template-columns: auto auto;
    align-content: center;
    justify-content: center;
}

.links {
    padding: 20px;
}