
    <div class ="bodycontainer" id = maincontainer>
        <div id =start class = "starting">
            <a href = '/battles/new', id = "start-btn" class ="btn-start-battle">Create New</a>
        </div>
          
        <div id ="title">Battle Lobbies</div>

        <div id="battle_lobbies">   
            <% @battles.each do |battle| %>
                <tr>
                    <div class="game-lobby">
                  <td>Game ID #: 000<%= battle.id %></td>
                  <td><%= link_to 'Join Game', battle_path(battle), id:"title", class:"links" %></td>
                  </div>
                </tr>
                <br>
            <% end %>
        </div>
    </div>







