<%= form_for :battle, url:battles_path(@battle), method: :get do |f| %>

<main role="main">
    <img src="/assets/Untitled.png" alt="empty box">
    <img src="/assets/Untitled.png" alt="empty box">
    <img src="/assets/Untitled.png" alt="empty box">
    <img src="/assets/Untitled.png" alt="empty box">
    <img src="/assets/Untitled.png" alt="empty box">
    <img src="/assets/Untitled.png" alt="empty box">
    <img src="/assets/Untitled.png" alt="empty box">
    <img src="/assets/Untitled.png" alt="empty box">
    <img src="/assets/Untitled.png" alt="empty box">
    <img src="/assets/Untitled.png" alt="empty box">
    <img src="/assets/Untitled.png" alt="empty box">
    <img src="/assets/Untitled.png" alt="empty box">
</main>

  <html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Photo Battle</title>
    <link rel="stylesheet" type="text/css" href="welcome.css">
</head>
<body>
<header  id ="header">
    <a> <img alt="Photo Battle logo" src="/assets/logo.png" id ="logo"></a>
    <div id = "title" >Photo Battle</div>

</header>

<div class ="bodycontainer" id = maincontainer>
          <div id =start class = "starting">
           
              <a id = "start-btn" class ="btn-start-battle">Battle!</a>
              
          </div>
</div>
</body>
</html>
<% end %>

