<p id="notice"><%= notice %></p>
<div class ="bodycontainer" id = maincontainer>
  
  
  <% if @battle.pictures.length < 12 %>
      <p id="title">PLAYERS</p>
      <p>(Minimum of four players)</p>
  
  <div class ="player_list">
    <% for i in 1..@battle.pictures.length/3 do %>
        <p id="title">Player <%=i%> Joined</p>
    <% end %>
  </div>
  <%= render 'form' %>
  

  <% else %>
   <p id="title" class= "voting_title">VOTE BELOW!</p>
  <%= render 'vote' %>
  
  <% end %>
  
  
</div>