


<div class ="bodycontainer" id = maincontainer>
          <div id =start class = "starting">
           <h1>Upload photos.</h1>
           <h1>Invite friends.</h1>
           <h1>Vote.</h1>
              <a href = '/battles', id = "start-btn" class ="btn-start-battle">Battle!</a>
          </div>
</div>



