<!DOCTYPE html>
<html>
  <head>
<head>
    <meta charset="UTF-8">
    <title>Photo Battle</title>
    <link rel="stylesheet" type="text/css" href="welcome.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
<header  id ="header">
    <img alt="Photo Battle logo" src="/assets/logo.png" id ="logo">
    <div id = "title" class="logo-title" >Photo Battle</div>

</header>

 <%= yield %>
</body>

</html>
